/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 18px;
  font-family: "Overpass", sans-serif;
  color: var(--body-colo);
  /* font-family: "Ubuntu", sans-serif; */
}

/* A elements that don't have a class get default styles */
/* a:not([class]) {
  text-decoration-skip-ink: auto;
} */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* Make images easier to work with */
img,
picture,
label {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* make label elements block */
label {
  display: inline-block;
  width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* variable */
:root {
  --verylight-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  --backlight-red: hsl(353, 100%, 62%);
  --backVery-light-red: hsl(13, 100%, 72%);
  --white: hsl(0, 0%, 100%);
  --white-snow: hsl(0, 4%, 90%);
  --body-colo: hsl(207, 13%, 34%);
  --dark-blue: hsl(237, 23%, 32%);
  --Very-dark-grayblue: hsl(237, 17%, 21%);
  --footer-background: hsl(240, 10%, 16%);
  --footer-text: hsl(240, 2%, 79%);
  --headers: hsl(208, 49%, 24%);
}

/* header */
header {
  background: url(./images/bg-pattern-intro.svg) center center no-repeat,
    linear-gradient(
      to bottom right,
      var(--backVery-light-red),
      var(--backlight-red)
    );
  background-color: var(--backlight-red);
  background-size: 240%;
  padding: 3rem 2rem;
  border-radius: 0 0 0 5rem;
  min-height: 90vh;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .logo {
  padding: 0.2rem 0;
  max-width: 25%;
}

/* menu */

.menu-wrap .hide-menu {
  display: none;
}

.menu-wrap div.menu {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  background-color: var(--white);
  max-width: 100%;
  min-height: 70vh;
  z-index: 10;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  transition: all 0.4s ease;
}

.drop-btn .click-btn.click-light {
  display: none;
}

.menu-wrap .toggler {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  z-index: 2;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 2rem;
  height: 2.5rem;
  padding: -0.2rem 0.2rem 0.2rem;
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hanburger line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -0.8rem;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* moves the bottom line down */
.menu-wrap .hamburger > div:after {
  top: 0.8rem;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* turn lines into x */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* drop-down */
.menu ul li {
  min-width: 100%;
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.dropdown {
  min-width: 100%;
}

.dropdown button {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.click-btn {
  display: inline;
  min-width: 1.5rem;
  padding: 0.25rem;
}

.rotate-btn {
  transition: all 0.5s ease;
  transform: rotate(180deg);
}

.dropdown .drop-items {
  display: none;
}

.dropdown button:hover {
  opacity: 0.8;
}

.dropdown .show-drop {
  display: block;
  background-color: var(--white-snow);
  opacity: 0.8;
  max-width: 100%;
  margin: 1rem 0.1rem 0;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: all 0.4s linear;
}

.dropdown .show-drop li {
  padding: 0.75rem;
}

.menu ul li {
  font-size: 0.75rem;
}

.menu li.signup a {
  background-image: linear-gradient(
    to bottom right,
    var(--verylight-red),
    var(--light-red)
  );
  color: var(--white);
  max-width: max-content;
  padding: 1rem 3rem;
  border-radius: 5rem;
}

.menu li a:hover {
  background-image: linear-gradient(
    to bottom right,
    var(--verylight-red),
    var(--light-red)
  );
  color: var(--white);
  max-width: max-content;
  padding: 1rem 3rem;
  border-radius: 5rem;
}

.just-line {
  position: relative;
  padding: 1rem;
}

.just-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  border-bottom: 2px solid var(--white-snow);
}

/* """"""""""""""""""""
TEXTS IN HEADER
""""""""""""""""""""" */
.header-content {
  color: var(--white);
  min-height: 70vh;
  padding: 2rem 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-content h1 {
  font-size: 2rem;
  padding: 1rem 0;
  line-height: 1.3;
  font-weight: 700;
}

.header-content p {
  font-size: 1.1rem;
  padding-bottom: 3rem;
  font-weight: 300;
}

.header-content .buttons {
  display: flex;
  justify-content: center;
}

.header-content .buttons a {
  border-radius: 3rem;
  margin: 0.75rem;
  border: 1px solid var(--light-red);
  background-color: var(--white);
  color: var(--light-red);
  padding: 0.5rem 1.25rem;
  font-size: 0.75rem;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}

.header-content .buttons a.firsta:hover {
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
}

.header-content .buttons a.seconda {
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
}

.header-content .buttons a.seconda:hover {
  border: 1px solid var(--light-red);
  background-color: var(--white);
  color: var(--light-red);
}

/* """"""""""""""""""""""""""
MAIN SECTION
""""""""""""""""""""""""""""" */

main {
  padding: 5rem 0;
  text-align: center;
}

.back-circle {
  padding: 2rem 0;
}
.back-circle .image {
  min-width: 100%;
}

main h2 {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 800;
  color: var(--headers);
}

.text-section {
  padding: 1rem 1.5rem;
}

.text-section p {
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem;
}

.blue-sect {
  background-image: url(./images/bg-pattern-circles.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 0 5rem;
  margin-top: 50%;
  padding-bottom: 3rem;
}
.blue-sect h2 {
  color: var(--white);
}
.blue-sect .phones {
  margin-top: -45%;
  justify-self: center;
}

/* """""""""""""""""""""""
FOOTER
"""""""""""""""""""""""""" */

footer {
  background-color: var(--footer-background);
  padding: 3rem 0 1rem;
  color: var(--white);
  border-radius: 0 5rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--footer-text);
}
.logo {
  align-content: center;
  max-width: max-content;
  padding: 1rem;
  align-self: center;
}
.logo img {
  max-width: 100%;
  align-self: center;
}

footer ul {
  list-style-type: none;
  padding: 0.5rem 0;
  font-size: 1rem;
}

footer h3 {
  padding: 1rem 0;
}

footer ul li a {
  color: var(--footer-text);
  line-height: 2;
}

/* """"""""""""""""""""""""""""""""""""""""""""""""""""
DESKTOP
"""""""""""""""""""""""""""""""""""""""""""""""""""""" */
@media screen and (min-width: 600px) {
  .container {
    overflow-x: hidden;
  }
  header {
    padding: 3rem;
    max-width: 100%;
    overflow-x: hidden;
  }

  /* """""""""""MENU""""""""""""""""""" */
  .menu-wrap .toggler,
  .menu-wrap .hamburger,
  .menu-wrap .hamburger div {
    display: none;
  }

  header nav {
    display: flex;
    justify-content: space-evenly;
    flex-basis: content;
    align-items: flex-start;
  }

  header nav .menu-wrap {
    min-width: 75%;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
  }

  .menu-wrap .hide-menu {
    position: relative;
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    transition: all 0.4s ease;
    min-width: 100%;
  }

  .menu li {
    min-width: min-content;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .dropdown {
    min-width: 100%;
  }

  .dropdown .drop-btn {
    color: var(--white);
  }

  .drop-btn .click-btn.click-dark {
    display: none;
  }

  .drop-btn .click-btn.click-light {
    display: block;
  }

  ul .just-line {
    display: none;
  }

  .hide-menu ul {
    display: flex;
  }
  .hide-menu ul li {
    padding: 1.5rem;
    font-size: 1rem;
  }

  header .logo {
    padding: 0.2rem 0;
    max-width: 25%;
    align-self: center;
  }

  .dropdown .show-drop {
    position: absolute;
    display: block;
    background-color: var(--backlight-red);
    opacity: 0.8;
    max-width: 100%;
    margin: 1rem 0.1rem 0;
    padding: 0.75rem;
    border-radius: 0.5rem;
    transition: all 0.4s linear;
  }

  .hide-menu ul li {
    font-size: 1rem;
  }

  .hide-menu ul li.signup a {
    border-radius: 3rem;
    margin: 1rem;
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--light-red);
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
  }

  .hide-menu li a:hover {
    border-radius: 3rem;
    margin: 1rem;
    border: 1px solid var(--light-red);
    background-color: var(--white);
    color: var(--light-red);
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
  }

  .header-content h1 {
    font-size: 4rem;
    font-weight: 800;
  }

  main h2 {
    font-size: 2.5rem;
    font-weight: 800;
  }

  main .main-h2 {
    margin-bottom: -10rem;
  }

  main .blue-sect {
    border-radius: 0 5rem;
    padding: 7rem;
    margin-top: 0;
  }
  .blue-sect h2 {
    color: var(--white);
  }
  .blue-sect .phone-back {
    position: relative;
  }
  .blue-sect .phones {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .before-footer {
    display: flex;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
    padding: 2rem 7rem;
  }
  .before-footer > div {
    min-width: 45%;
    text-align: left;
  }
  .before-footer.reversed {
    flex-direction: row-reverse;
  }
  .before-footer .back-circle {
    max-width: 50%;

    position: relative;
  }
  .before-footer .back-circle .image {
    min-width: 150%;
    margin-right: -75%;
  }
  .before-footer .back-circle.to-left .image {
    margin-left: -75%;
    position: relative;
  }

  .before-footer > div:not(.back-circle) {
    min-width: 50%;
  }

  .text-section h2 {
    font-size: 2rem;
    font-weight: 800;
    padding: 0.75rem 0;
    text-align: left;
  }
  .text-section p {
    padding: 0;
    text-align: left;
    font-size: 1.25rem;
  }

  footer {
    flex-direction: row;
    padding: 4rem;
    justify-content: space-evenly;
    text-align: left;
  }
  footer .logo {
    align-self: flex-start;
  }
}
