/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 18px;
  font-family: "Overpass", sans-serif;
  color: var(--body-colo);
  /* font-family: "Ubuntu", sans-serif; */
}

/* A elements that don't have a class get default styles */
/* a:not([class]) {
  text-decoration-skip-ink: auto;
} */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* Make images easier to work with */
img,
picture,
label {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* make label elements block */
label {
  display: inline-block;
  width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* variable */
:root {
  --verylight-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  --white: hsl(0, 0%, 100%);
  --white-snow: hsl(0, 4%, 90%);
  --body-colo: hsl(207, 13%, 34%);
  --dark-blue: hsl(237, 23%, 32%);
  --Very-dark-grayblue: hsl(237, 17%, 21%);
  --footer-background: hsl(240, 10%, 16%);
  --footer-text: hsl(240, 2%, 79%);
}

/* header */
header {
  background-image: linear-gradient(
    to bottom right,
    var(--verylight-red),
    var(--light-red)
  );
  padding: 3rem 2rem;
  border-radius: 0 0 0 10rem;
  min-height: 90vh;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .logo {
  padding: 0.2rem 0;
  max-width: 20%;
}

/* menu */

.menu-wrap .hide-menu {
  display: none;
}

.menu-wrap ul.menu {
  position: fixed;
  top: 5rem;
  left: 2rem;
  right: 2rem;
  background-color: var(--white);
  max-width: 100%;
  min-height: 70vh;
  z-index: 10;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  transition: all 0.4s ease;
}

.menu-wrap .toggler {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  z-index: 2;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 2rem;
  height: 2.5rem;
  padding: -0.2rem 0.2rem 0.2rem;
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hanburger line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -0.8rem;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* moves the bottom line down */
.menu-wrap .hamburger > div:after {
  top: 0.8rem;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* turn lines into x */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* drop-down */
.menu li {
  min-width: 100%;
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.dropdown {
  min-width: 100%;
}

.dropdown button {
  background-color: transparent;
  border: none;
  outline: none;
}

.dropdown .drop-items {
  display: none;
}

.dropdown button:hover {
  opacity: 0.8;
}

.dropdown .show-drop {
  display: block;
  background-color: var(--white-snow);
  opacity: 0.8;
  max-width: 100%;
  margin: 1rem 0.1rem 0;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: all 0.4s linear;
}

.dropdown .show-drop li {
  padding: 0.75rem;
}

.menu li.signup a {
  background-image: linear-gradient(
    to bottom right,
    var(--verylight-red),
    var(--light-red)
  );
  color: var(--white);
  max-width: max-content;
  padding: 1rem 3rem;
  border-radius: 5rem;
}

.menu li a:hover {
  background-image: linear-gradient(
    to bottom right,
    var(--verylight-red),
    var(--light-red)
  );
  color: var(--white);
  max-width: max-content;
  padding: 1rem 3rem;
  border-radius: 5rem;
}

.just-line {
  position: relative;
  padding: 0.01rem;
}
.menu .just-line {
  padding: 0;
}

.just-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  border-bottom: 2px solid var(--white-snow);
}

.fas {
  color: var(--light-red);
}

/* """"""""""""""""""""
TEXTS IN HEADER
""""""""""""""""""""" */
.header-content {
  color: var(--white);
  min-height: 70vh;
  padding: 2rem 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-content h1 {
  font-size: 2rem;
  padding: 1rem 0;
  line-height: 1.3;
  font-weight: 700;
}

.header-content p {
  font-size: 1.1rem;
  padding-bottom: 3rem;
  font-weight: 300;
}

.header-content .buttons {
  display: flex;
  justify-content: space-between;
}

.header-content .buttons a {
  border-radius: 3rem;
  border: 1px solid var(--light-red);
  background-color: var(--white);
  color: var(--light-red);
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}

.header-content .buttons a.firsta:hover {
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
}

.header-content .buttons a.seconda {
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
}

.header-content .buttons a.seconda:hover {
  border: 1px solid var(--light-red);
  background-color: var(--white);
  color: var(--light-red);
}

/* """"""""""""""""""""""""""
MAIN SECTION
""""""""""""""""""""""""""""" */

main {
  padding: 5rem 0;
  text-align: center;
}

.back-circle {
  padding: 2rem 0;
}
.back-circle .image {
  min-width: 100%;
}

main h2 {
  font-size: 1.8rem;
  line-height: 1.2;
}

.text-section {
  padding: 1rem 1.5rem;
}

.text-section p {
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem;
}

.blue-sect {
  background-color: var(--dark-blue);
  color: var(--white);
  /* min-height: 80vh; */
  border-radius: 0 5rem;
  margin-top: 50%;
  padding-bottom: 3rem;
}
.blue-sect div img {
  margin-top: -50%;
}

/* """""""""""""""""""""""
FOOTER
"""""""""""""""""""""""""" */

footer {
  background-color: var(--footer-background);
  padding: 3rem 0 1rem;
  color: var(--white);
  border-radius: 0 5rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.logo {
  align-content: center;
  max-width: max-content;
  align-self: center;
  padding: 1rem;
}
.logo img {
  max-width: 100%;
  align-self: center;
}

footer ul {
  list-style-type: none;
  padding: 0.5rem 0;
  font-size: 1rem;
}

footer > ul > li {
  padding: 1rem 0;
}

footer ul li a {
  color: var(--footer-text);
  line-height: 2;
}
